input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(129, 129, 129);
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: transparent;
  color: black;
  padding: 10px 40px;
  border: solid 1px;
  border-radius: 3px;
  font-size: 17px;
}

input[type="submit"]:hover {
  background-color: #b7e0b9;
}

.form {
  background-color: #ffffff;
  padding: 3% 1% 10% 8%;
}
